.squad-builder {
  display: flex;
  align-items: center;
  height: 100vh;
}

.squad {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.squad-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.squad-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border: 1px solid #ccc;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

.formations-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.formations-select h2,
.formations-select select {
  margin-bottom: 10%;
}

.button-selected {
  border: 2px solid #3a6cb4;
  box-shadow: 0 0 5px #3a6cb4;
}

.img-player{
  width: 65px;
  height: 65px;
  z-index: -1;
}

.formation-data {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.formations-container {
  width: 100%;
}

@media (min-width: 768px) {
  .formation-data {
    flex-direction: row;
  }

  .formations-container {
    width: 50%;
  }
}