.squad-builder {
  display: flex;
  align-items: center;
  height: 100vh;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  // color: rgb(37, 40, 42);
  color: rgb(37, 40, 42);
  // background-color: #2c3e50;
  background-color: rgb(244, 244, 244);
  background-image: none;
  cursor: pointer;
font-size: large;
font-family: 'LaLiga';

}

.formations-select {
  position: relative;
  display: flex;
  width: 14em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  option{
    font-family: 'LaLiga';
  }
}


.formations-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  // background-color: #2F4858;
  background-color: rgb(244, 244, 244);
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.squad {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.squad-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.squad-slot {
  font-family: 'LaLiga';
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 141px;
  border: 1px solid #ccc;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

.button-selected {
  border: 2px solid #3a6cb4;
  box-shadow: 0 0 5px #3a6cb4;
}

.img-player{
  width: 100px;
  height: 141px;
  z-index: -1;
}

.formation-data {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

@media (min-width: 768px) {
  .formation-data {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .squad-slot, .img-player{
    width: 80px;
    height: 80px;
  }
}