.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu{
  padding: 1em;
  margin-bottom: 3em;
  position: relative;
  overflow: hidden;
  // background-color: #33658A;
  background-color: rgb(255, 75, 68);
  // color: #ffffff;
  .menu-title{
    color:rgb(37, 40, 42);
    font-family: "LaLiga";
    font-size: 24px;
  }
}

.menu-formation {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container input {
  width: 100%;
}

.dropdown {
  width: 30%;
}

.dropdown-item {
    // display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #eaeaea;
  }
  
  .dropdown-item p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .titles{
    margin-top: 10%;
    .main-title{
      color:rgb(37, 40, 42);
  font-family: "LaLiga";
  word-break: break-all;
  width: 3em;
  font-size: 110px;
}

.second-title{
  color:rgb(37, 40, 42);
  font-family: "LaLiga";
  font-size: 23px;
}
.third-title{
  color:rgb(37, 40, 42);
  font-family: "LaLiga";
  font-size: 23px;
}
}

  .selected-player-container {
    display: flex;
    align-items: center;
  }
  
  .selected-player-container h3 {
    margin-right: 10px;
  }
  
  .selected-player-container button {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .selected-player-container button:hover {
    background-color: #d32f2f;
  }

  
  .dropdown-item-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .player-name {
    font-weight: bold;
    margin-right: 10px;
  }

  .selected-players-container {
    // width: 30%;
    margin: 0 auto;
  }

  .selected-player-item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
  }
  
  .selected-player-name {
    flex-grow: 1;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .selected-player-rating {
    margin-right: 10px;
  }
  
  .remove-button {
    background-color: transparent;
    color: #f44336;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .remove-button:hover {
    color: black;
  }
  
  .remove-button::after {
    content: 'x';
    font-size: 16px;
    font-weight: bold;
  }
  
  // .player-finder-container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   position: relative;
  // }

  .overall-rating-summary {
    z-index: 1; 
  }
  
  .search-container {
    // width: 30%;
    // position: relative;
    position: inherit;
    height: 30px;
    // overflow: hidden;
  }
  
  .search-container input {
    // width: 100%;
    height: 100%;
    // color: #fff;
    // padding-top: 20px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 27);
    background-color: #ffffff;
    position: inherit;

  }
  .search-container label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    // border-bottom: 1px solid white;
  }
  .search-container label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    // border-bottom: 3px solid #ffffff;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  
  .content-name {
    font-size: 1rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  .search-container input:focus {
    outline: none;
  }
  .search-container input:focus + .label-name .content-name,
  .search-container input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: rgb(0, 0, 27);
  }
  .search-container input:focus + .label-name::after,
  .search-container input:valid + .label-name::after {
    transform: translateX(0%);
  }
    
  .dropdown-container {
    position: inherit;
    z-index: 1;
    margin: 0 auto;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .formation-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "LaLiga";
    font-size: 2rem;
  }
  
.component-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.stats{
  h2{
    font-family: "LaLiga";
    color:rgb(37, 40, 42);
  }
  margin-bottom: 5%;
  .overall-stats{
    color:rgb(37, 40, 42);
    font-family: "LaLiga";
    font-size: larger;
  }
}

@media (max-width: 768px) {
  .component-container {
    flex-direction: column;
  }
}

.players-table.hidden {
  display: none;
}

.players-table {
  width: 100%;
}

@media (min-width: 768px) {
  .players-table {
    width: 50%;
  }

  .formations-container {
    width: 100%;
  }

  .formations-container.half-screen {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .menu{
    padding: 2em;
    .menu-title{
      display: none;
    }
  }
  .players-table {
    width: 100%;
  }

  .formations-container {
    width: 100%;
  }

  .formations-container.half-screen{
    width: 100%;
    margin-bottom: 25%;
  }
}